@import "tailwindcss";

.container {
  max-width: 1250px;
  padding: 20px 20px;
}

.custom-table .ant-table-thead > tr > th,
.custom-table .ant-table-tbody > tr > td {
  padding: 16px 20px;
}

.custom-table .ant-table-thead > tr > th {
  font-weight: 600;
  color: #111827;
}

.custom-table .ant-table-tbody > tr > td {
  font-weight: 500;
  color: #374151;
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #f9fafb;
}

.custom-table .ant-table-container table > thead > tr > th {
  padding: 16px 20px !important;
  font-weight: 600;
}

.custom-table .ant-table-container table > tbody > tr > td {
  padding: 16px 20px !important;
  font-weight: 500;
}

.rdp {
  --rdp-accent-color: #2563eb;
  --rdp-background-color: #e0e7ff;
}

.rdp-day {
  border-radius: 12px;
  height: 40px;
  width: 40px;
}

.rdp-day_selected {
  background: #2563eb;
  color: white;
}

.payment-table .ant-table {
  border: none;
}

.payment-table .ant-table-thead > tr > th {
  background: #f9fafb;
  color: #667085;
  font-weight: 500;
}

.payment-table .ant-table-tbody > tr > td {
  padding: 20px 16px;
}

.payment-table .ant-table-cell::before {
  display: none;
}


.payment-table .ant-table {
  width: 100%;
}

.payment-table .ant-table-container {
  border-radius: 0;
}

.payment-table .ant-table-thead > tr > th {
  padding: 16px 24px;
  background: #f9fafb;
  color: #667085;
  font-size: 14px;
  font-weight: 500;
}

.payment-table .ant-table-tbody > tr > td {
  padding: 15px 24px;
}

.payment-table .ant-table-cell::before {
  display: none;
}
