@import "tailwindcss";

.container {
  max-width: 1250px;
  padding: 20px 20px;
}

.custom-table .ant-table-thead > tr > th,
.custom-table .ant-table-tbody > tr > td {
  padding: 16px 20px;
}

.custom-table .ant-table-thead > tr > th {
  font-weight: 600;
  color: #111827;
}

.custom-table .ant-table-tbody > tr > td {
  font-weight: 500;
  color: #374151;
}

.custom-table .ant-table-tbody > tr:hover > td {
  background-color: #f9fafb;
}

.custom-table .ant-table-container table > thead > tr > th {
  padding: 16px 20px !important;
  font-weight: 600;
}

.custom-table .ant-table-container table > tbody > tr > td {
  padding: 16px 20px !important;
  font-weight: 500;
}
